<p id="notice"><%= notice %></p>


<h1>Listing Ordenanzas</h1>

<%= select_tag(:anios,
                options_for_select(
                  @anios
                ),
                {class: "form-control select2_dropdown", id: "selector_anio"}
              )
%>

<%= select_tag(:temas,
                options_for_select(
                  @temas
                ),
                {class: "form-control select2_dropdown", id: "selector_tema"}
              )
%>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Ordenanza</th>
      <th>Titulo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordenanzas.each do |ordenanza| %>
      <tr>
        <th><%= ordenanza.anio %> / <%= ordenanza.numero %></th>
        <td><%= link_to ordenanza.titulo || ordenanza.sintesis, ordenanza %></td>
        <td><%= link_to 'Edit', edit_ordenanza_path(ordenanza) %></td>
        <td><%= link_to 'Destroy', ordenanza, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if false %>
	<%= link_to 'New Ordenanza', new_ordenanza_path %>
<% end %>
