<p id="notice"><%= notice %></p>

<div class="row">
                
    <section id="main" class="col-md-6 col-md-offset-3">

		<h1>Listado de Ordenanzas de San Salvador de Jujuy</h1>
		
		<div class="panel panel-default">
			<form class="panel-body form-horizontal payment-form" name="formBusqueda">
				<div class="form-group">
					<label for="selector_anio" class="col-md-4 control-label">Seleccione un Año:</label>
					
					<%= select_tag(:anios,
									options_for_select(
										@anios
									),
									{class: "form-control col-md-8", id: "selector_anio"}
								  )
					%>
					
				</div>
			</form>
		</div>
		
		<%= select_tag(:anios,
						options_for_select(
						  @anios
						),
						{class: "form-control select2_dropdown", id: "selector_anio"}
					  )
		%>

		<%= select_tag(:temas,
						options_for_select(
						  @temas
						),
						{class: "form-control select2_dropdown", id: "selector_tema"}
					  )
		%>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Ordenanza</th>
      <th>Titulo</th>

    </tr>
  </thead>

  <tbody>
    <% @ordenanzas.each do |ordenanza| %>
      <tr>
        <th><%= ordenanza.anio %> / <%= ordenanza.numero %></th>
        <td><%= link_to ordenanza.titulo || ordenanza.sintesis, ordenanza %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

	
	</section>
</div>	

