<p id="notice"><%= notice %></p>

<h1>Listing Ordenanzas</h1>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Numero</th>
      <th>Año</th>
      <th>Tema</th>
      <th>Vigente</th>
      <th>Unidad</th>
    </tr>
  </thead>

  <tbody>
    <% @ordenanzas.each do |ordenanza| %>
      <tr>
        <td> <%= ordenanza.numero %> </td>
        <td> <%= ordenanza.anio %> </td>
        <td> <%= ordenanza.tema %> </td>
        <td> <%= ordenanza.vigente %> </td>
        <td> <%= ordenanza.unidad_id %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ordenanza', new_ordenanza_path %>
