<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @ordenanza.titulo %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @ordenanza.fecha %>
</p>

<%= link_to 'Edit', edit_ordenanza_path(@ordenanza) %> |
<%= link_to 'Back', ordenanzas_path %>
